body {
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  height: 440px;
}
.main_wrapper {
  width: 700px;
  height: 700px;
}
.button {
  width: calc(25% - 1px);
  height: calc(25% - 1px);
  display: flex;
  justify-content: center;
  margin: 0px;
}
.button_op {
  background-color: rgb(117, 175, 106);
  color: rgb(50, 76, 45);
}
.button_op_sqrt {
  background-color: rgb(117, 175, 106);
  color: rgb(50, 76, 45);
}
.button_op_mod {
  background-color: rgb(117, 175, 106);
  color: rgb(50, 76, 45);
}
button {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgb(81, 163, 64);
  color: rgb(228, 240, 225);
  padding: 0px;
  font-size: 2em;
  align-content: center;
  font-weight: 300;
}
.view {
  width: calc(75% - 1px);
  height: calc(25% - 1px);
  background-color: rgb(81, 163, 64);
  color: white;
  margin: 0px;
  font-size: 3em;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: auto;
}
p {
  width: 100%;
}
.button_spc {
  width: calc(50% - 1px);
  height: calc(25% - 1px);
  display: flex;
  justify-content: center;
  margin: 0px;
}
.previous_calcs {
  height: 100%;
  width: 100%;
}
